
# Dependencies
node_modules/

# Environment variables and credentials
.env
.env.*
!.env.example


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure reports
/allure-results/
/allure-report/

# macOS
.DS_Store

# GitHub Actions workflow
.github/workflows/playwright.yml
